<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.choonham.lck_manager">

    <permission-group android:name="${applicationId}.andpermission"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:usesCleartextTraffic="true"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_bar_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.LCK_manager">
        <activity
                android:name=".InitialSettingActivity"
                android:theme="@style/Theme.LCK_manager.NoActionBar"
                android:exported="true"/>
        <activity
                android:name=".LoginActivity"
                android:exported="true"
                android:theme="@style/Theme.LCK_manager.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".NewsPopUpActivity"
                android:exported="true"
                android:theme="@android:style/Theme.Dialog"/>
        <activity
                android:name=".TeamInfoPopUpActivity"
                android:exported="true"
                android:theme="@android:style/Theme.Dialog"/>
        <activity
                android:name=".PlayerInfoPopUpActivity"
                android:exported="true"
                android:theme="@android:style/Theme.Dialog"/>
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:theme="@style/Theme.LCK_manager.NoActionBar">
        </activity>
        <activity android:name=".PlayerProposalActivity"
                  android:exported="true"
                  android:theme="@android:style/Theme.Dialog"/>
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>